<nav class="navbar navbar-light bg-light justify-content-between">
  <div class="container">
    <%= link_to "Wikinimous", root_path, class: 'navbar-brand' %>
    <%= link_to 'New article', new_article_path, class: 'btn btn-primary border' %>
  </div>
</nav>
